.partners{
    margin-top: 150px;
    margin-left: 120rem;
    
    @media (max-width: $tablet){
        margin-top: 70px;
        margin-left: 15px;
    }
    
    &__header{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50rem;
    }
    
    &__title{
        margin-right: 205rem;
        width: 670rem;
        
        font-size: 50rem;
        font-weight: 500;
        
        &--blue{
            color: #0D5BB4;
        }
        
        @media (max-width: $mobile){
            font-size: 24rem;
            margin-right: 0;
            width: 275rem;
        }
    }
    
    &__slogan{
        width: 342rem;
        padding-top: 75rem;
        
        font-size: 20rem;
        
        &:before{
            content: "";
            display: block;
            margin-bottom: 27rem;
            width: 51rem;
            height: 3rem;
            
            background-color: #0D5BB4;
        }
        
        @media (max-width: $mobile){
            padding-top: 15rem;
            width: 275rem;
            
            font-size: 12rem;
        }
    }
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    
    text-align: center;
    
    &__item{        
        cursor: pointer;
        
        width: 30%;
        height: 184rem;
        margin-right: 36rem;
        margin-bottom: 36rem;
        overflow: hidden;
        
        position: relative;
        
        &:hover .grid__overlay{
            opacity: 1;
        }
        
        &:hover .grid__title{
            margin-top: 52rem;
            color: #4A4A4A;
            
            @media (max-width:$mobile){
                margin-top:15rem;
            }
        }
        
        @media (max-width:$mobile){
            width: 95%;
            height: 100rem;
            margin-right: 0;
            margin-bottom: 10rem;
        }
    }
    
    &__title{
        margin: 27rem auto 0;
        font-size: 20rem;
        color: white;
        
        transition: all 0.2s linear;
        
        @media (max-width:$mobile){
            margin: 15rem auto 0;
            font-size: 12rem;
        }
    }
        
    &__background{
        width: 100%;
        
        position: absolute;
        top:0;
        left:0;
        z-index: -2;
    }
    
    &__overlay{
        width: 100%;
        height: 100%;
        
        background-color: #FAFAFA;
        opacity: 0;
        
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        
        transition: opacity 0.2s linear;
    }
    
    &__text{
        width: 250rem;
        margin: 90rem auto 0;
    
        font-size: 17rem;
        color: #9D9D9D;
        
        @media (max-width:$mobile){
            margin: 50rem auto 0;
            font-size: 11rem;
        }
        
    }
}










